.reports-page {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.employee-list {
  flex: 0.3;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
}

.employee-list ul {
  list-style: none;
  padding: 0;
}

.employee-list li {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.employee-list li:hover,
.employee-list li.active {
  background-color: orangered;
  color: white;
}

.employee-report {
  flex: 0.7;
}
