.header {
  background-color: #000;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: orange;
}

.nav-links a {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  color: orange;
}
